*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
        .login-box{
        width: 360px;
        height: 280px;
        margin: auto;
        border-radius: 3px;
        margin-top: 215px;
        background-color: black;
    }
    .nav-link{
        display: flex;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* bottom: 3rem; */
        color: aliceblue;
        }
        .nav-link a{
        text-decoration: none;
        padding: 10px;
        color: #F1EFEF;
        }
    form{
        width: 300px;
        margin-left: 20px;
        padding: 30px;
        border: 5px solid black;
        border-radius: 10%;
    }
    form label{
        display: flex;
        margin-top: 20px;
        font-size: 14px;
    }
    form input{
        width: 100%;
        padding: 7px;
        border: none;
        border: 1px solid gray;
        border-radius: 6px;
        outline: none;
    }
    input[type="button"]{
        width: 320px;
        height: 35px;
        margin-top: 20px;
        border: none;
        background-color: rgb(75, 91, 169);
        color: white;
        font-size: 18px;
    }
    h1{
        justify-content: center;
    }
   