*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(red, yellow) no-repeat; */
    overflow-x: hidden;
}

.center{
display: flex;
flex-direction: column;
align-items: center;
}




.proj{
    width: 20rem;
}

.flip-card {
background-color: transparent;
width: 300px;
height: 300px;
perspective: 1000px;
margin: auto;
margin-top: 20px;
margin-bottom: 10px;
margin-right: 10px;
border-radius: 50%;


}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
background-color: #d750aa;
color: black;
}

.flip-card-back {
background-color: #0a0a0a;
color: white;
transform: rotateY(180deg);
}
.cards{
display: flex;
gap: 2rem;
}
@media (max-width:600px) {}
body{
overflow-x: hidden;
}
.cards{
flex-direction: column;
align-items: center;
transition: transform 0.2s;
}
.cards:hover{
    background-color: #000;
    transition: 0.5s;
    width: 10rem;
    height: 10rem;
    box-shadow: 0 20px 30px rgba(0,0,0,0.7);
    transform: scale(1.1);
    overflow :hidden;
}
.car{
   width: 50rem;
   height: 15rem;
   transition: transform 0.2s;
}

.car-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .col{
    width: 40rem;
    height: 40rem;
} */
.car:hover{
    transition: 0.5s;
    transform: scale(1.1);
    overflow: hidden;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
border-radius: 50%; 
width: 5rem;
height: 5rem;
}
.login-box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    margin-top: 215px;
    background-color: black;
}
form{
    width: 300px;
    margin-left: 20px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 10%;

}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(75, 91, 169);
    color: white;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: -10px;
}
.para-2 a{
    color:  rgb(0, 255, 21);
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
.facebook{
    color: #f1eaea;
    background-color: #f1efef;
}
#offcanvasNavbar{
color: #000;
}









